{%extends "base.html"%}
{%block content%}
<!--BEGIN Main-->
<main>
<!-- BEGIN : Section 1 of Watch Content -->
 <section>
	<div class="container text-center" id="Vintage Watches">
		<h1 class="Title">
            Vintage Watches
		</h1>
		<p>
			Catalog of our Vintage Watches
		</p>

	</div>
 </section>
<!-- END : Section 1 -->

<!-- BEGIN : Section 2 of Main Content -->
<section>
	<div class="container text-center" id="section-2">
		<div class="row">
			<div class="col-sm-3">
				<h2>Column 1 </h2>
			</div>
			<div class="col-sm-3">
                <h2>Column 2</h2>
			</div>
			<div class="col-sm-3">
				<h2>Column 3<h3></h3>
			</div>
		</div>
        <div class="row">
			<div class="col-sm-3">
				<h2>Column 1 </h2>
            </div>
        </div>
	</div>
 </section>
<!-- END : Section 2-->

<!--END Main-->
</main>
{%endblock%}